########################################
#### IDE specific rules:
########################################
.classpath
.project
.settings/
target/
*.iml
*.idea/

########################################
#### OSX/Finder:
########################################
.DS_Store
*.DS_Store


########################################
#### Misc/general rules:
########################################
*.log
*.tlog
*-override.properties
*globals.js
veip-web-openshift/overlays/
