@(title: String, user: com.dit.account.User, restaurant: com.dit.Restaurant)

@main(title: String, user: com.dit.account.User) {
    <section id="main-slider" class="no-margin">
        <div class="carousel slide">

            <div class="carousel-inner">


            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">
            <br/>
            <form method="GET" action="@routes.Application.makeReservation()">
                <button type="submit" class="btn btn-danger">Make Reservation</button>
            </form>

            <br/>
            <div class="center wow fadeInDown">
                <h2>@restaurant.getName</h2>
                <p class="lead">@restaurant.getDescription</p>
            </div>

            <div class="row">
                <div class="center wow fadeInDown">
                    <h2>Location</h2>
                    <div id="map-canvas"></div>
                </div>
            </div><!--/.row-->
            @*<div class="row">*@
                @*<div class="center wow fadeInDown">*@
                    @*<h2>Menu</h2>*@
                    @*<div class="features">*@
                        @*<h2>Dinner</h2>*@
                        @*<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">*@
                            @*<div class="feature-wrap">*@
                                @*<i class="fa fa-bullhorn"></i>*@
                                @*<h2>ttt</h2>*@
                                @*<h2>aaa</h2>*@
                            @*</div>*@
                        @*</div><!--/.col-md-4-->*@
                    @*</div>*@


                @*</div>*@
            @*</div>*@
            @*<div class="row">*@
                @*<div class="center wow fadeInDown">*@
                    @*<h2>Special Offers</h2>*@
                @*</div>*@
            @*</div>*@

        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <b><h2>Menu</h2></b>
            </div>

            @for(menu <- restaurant.getMenus){
                <div class="row">
                    <div class="center wow fadeInDown">
                        <h2>@menu.getName</h2>
                    </div>

                    @for(item <- menu.getMenuItems){
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                @*<img class="img-responsive" src="@routes.Assets.at("images/portfolio/recent/item1.png")" alt="">*@
                            <div class="recent-work-inner">
                                <h2>@item.getName</h2>
                                <h3>@item.getDescription</h3>
                                <h3>@item.getPrice</h3>
                                <h3>@item.getIngredients</h3>
                            </div>
                            </div>
                        </div>
                    }
                </div>
            }

            <!--/.row-->
        </div><!--/.container-->
    </section>
    <section id="feature" >
        <div class="container">
            <br/>
            <div class="center wow fadeInDown">
                <h2>Special Offers</h2>
            </div>

            @for(menu <- restaurant.getSpecialOffers){
                <div class="row">
                    <div class="center wow fadeInDown">
                        <h2>@menu.getName</h2>
                    </div>

                    @for(item <- menu.getMenuItems){
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="recent-work-wrap">
                                @*<img class="img-responsive" src="@routes.Assets.at("images/portfolio/recent/item1.png")" alt="">*@
                            <div class="recent-work-inner">
                                <h2>@item.getName</h2>
                                <h3>@item.getDescription</h3>
                                <h3>@item.getPrice</h3>
                                <h3>@item.getIngredients</h3>
                            </div>
                            </div>
                        </div>
                    }
                </div>
            }



        </div><!--/.container-->
    </section><!--/#feature-->


    <style>
    #map-canvas {
    width: 1200px;
    height: 400px;
    }
    </style>

}
