@(title: String, user: com.dit.account.User, restaurant: com.dit.Restaurant)

@main(title: String, user: com.dit.account.User) {

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">

            <div class="carousel-inner">


            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section> <!--/#main-slider-->

    <section id="feature" >
        <div class="container">

            <div class="center wow fadeInDown">
                <h2>Confirmation Success</h2>
            </div>



        </div><!--/.container-->
    </section> <!--/#feature-->


    <style>
    #map-canvas {
    width : 1200px ;
    height : 400px ;
    }
    </style>

}
