@(title: String, user: com.dit.account.User, restaurant: com.dit.Restaurant)

    @main(title, user: com.dit.account.User, restaurant: com.dit.Restaurant) {
        <div class=" row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <a data-toggle="tooltip" title="6 new members." class="well top-block" href="#">
                    <i class="glyphicon glyphicon-user blue"></i>

                    <div>Total Members</div>
                    <div>507</div>
                    <span class="notification">6</span>
                </a>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <a data-toggle="tooltip" title="4 new pro members." class="well top-block" href="#">
                    <i class="glyphicon glyphicon-star green"></i>

                    <div>Pro Members</div>
                    <div>228</div>
                    <span class="notification green">4</span>
                </a>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <a data-toggle="tooltip" title="$34 new sales." class="well top-block" href="#">
                    <i class="glyphicon glyphicon-shopping-cart yellow"></i>

                    <div>Sales</div>
                    <div>$13320</div>
                    <span class="notification yellow">$34</span>
                </a>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <a data-toggle="tooltip" title="12 new messages." class="well top-block" href="#">
                    <i class="glyphicon glyphicon-envelope red"></i>

                    <div>Messages</div>
                    <div>25</div>
                    <span class="notification red">12</span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="box col-md-12">
                <div class="box-inner">
                    <div class="box-header well">
                        <h2><i class="glyphicon glyphicon-info-sign"></i> About @user.getPerson.getRestaurant.getName</h2>
                    </div>
                    <div class="box-content row">
                        <div class="col-lg-7 col-md-12">
                            <h1>@user.getPerson.getRestaurant.getName</h1>
                            <p>@user.getPerson.getRestaurant.getDescription</p>
                            <br/>
                            <p>URL : <a href="@user.getPerson.getRestaurant.getUrl" target="_blank">@user.getPerson.getRestaurant.getUrl</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }
