@(title: String, user: com.dit.account.User, restaurant: com.dit.Restaurant, zone: com.dit.Zone)

@main(title: String, user: com.dit.account.User, restaurant: com.dit.Restaurant) {
    <div class=" row">
        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="6 new members." class="well top-block" href="#">
                <i class="glyphicon glyphicon-user blue"></i>

                <div>Total Members</div>
                <div>222</div>
                <span class="notification">6</span>
            </a>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="4 new pro members." class="well top-block" href="#">
                <i class="glyphicon glyphicon-star green"></i>

                <div>Pro Members</div>
                <div>228</div>
                <span class="notification green">4</span>
            </a>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="$34 new sales." class="well top-block" href="#">
                <i class="glyphicon glyphicon-shopping-cart yellow"></i>

                <div>Sales</div>
                <div>$13320</div>
                <span class="notification yellow">$34</span>
            </a>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6">
            <a data-toggle="tooltip" title="12 new messages." class="well top-block" href="#">
                <i class="glyphicon glyphicon-envelope red"></i>

                <div>Messages</div>
                <div>25</div>
                <span class="notification red">12</span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-edit"></i> Table Structure</h2>

                </div>
                <div class="box-content">
                    <canvas id="canvasOne" width="1160px" height="600px">
                        Your browser does not support HTML5 canvas.
                    </canvas>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

    //JavaScript HTML5 Canvas example by Dan Gries, rectangleworld.com.
    //The basic setup here, including the debugging code and window load listener, is copied from 'HTML5 Canvas' by Fulton & Fulton.
    //Checking for browser compatibility is accomplished with the Modernizr JavaScript library.
    //The latest version of the library is available at www.modernizr.com.

    window.addEventListener ( "load", windowLoadHandler, false ) ;

    //For debug messages
    var Debugger = function ( ) { } ;
    Debugger.log = function ( message ) {
    try {
    console.log ( message ) ;
    }
    catch ( exception ) {
    return ;
    }
    }

    function windowLoadHandler ( ) {
    canvasApp ( ) ;
    }

    function canvasSupport ( ) {
    return Modernizr.canvas ;
    }

    function canvasApp ( ) {
    if ( ! canvasSupport ( ) ) {
    return ;
    }

    var theCanvas = document.getElementById ( "canvasOne" ) ;
    var context = theCanvas.getContext ( "2d" ) ;

    init ( ) ;

    var numShapes ;
    var shapes ;
    var dragIndex ;
    var dragging ;
    var mouseX ;
    var mouseY ;
    var dragHoldX ;
    var dragHoldY ;
    var timer ;
    var targetX ;
    var targetY ;
    var easeAmount ;

    function init ( ) {
    numShapes = @zone.getNumberOfTables ;
    easeAmount = 0.45 ;

    shapes =[ ] ;

    makeShapes ( ) ;

    drawScreen ( ) ;

    theCanvas.addEventListener ( "mousedown", mouseDownListener, false ) ;
    }

    function makeShapes ( ) {
    var i ;
    var tempX ;
    var tempY ;
    var tempRad ;
    var tempR ;
    var tempG ;
    var tempB ;
    var tempA ;
    var tempColor ;
    for ( i = 0 ; i < numShapes ; i ++ ) {
    tempRad = 5 + Math.floor ( Math.random ( ) * 20 ) ;
    tempX = Math.random ( ) * ( theCanvas.width - tempRad ) ;
    tempY = Math.random ( ) * ( theCanvas.height - tempRad ) ;

    //we set a randomized color, including a random alpha (transparency) value.
    //The color is set using the rgba() method.
    tempR = Math.floor ( Math.random ( ) * 255 ) ;
    tempG = Math.floor ( Math.random ( ) * 255 ) ;
    tempB = Math.floor ( Math.random ( ) * 255 ) ;
    tempA = 0.3 + 0.5 * Math.random ( ) ;
    tempColor = "rgba(" + tempR + "," + tempG + "," + tempB + "," + tempA + ")" ;

    tempShape = new SimpleSquareParticle ( tempX, tempY ) ;
    //randomly select either a circle or a square
    //if (Math.random() < 0.5) {
    //tempShape = new SimpleDiskParticle(tempX, tempY);
    //}
    //else {
    //tempShape = new SimpleSquareParticle(tempX, tempY);
    //}

    tempShape.color = tempColor ;
    tempShape.radius = tempRad ;
    shapes.push ( tempShape ) ;
    }
    }

    function mouseDownListener ( evt ) {
    var i ;

    //getting mouse position correctly
    var bRect = theCanvas.getBoundingClientRect ( ) ;
    mouseX = ( evt.clientX - bRect.left ) * ( theCanvas.width / bRect.width ) ;
    mouseY = ( evt.clientY - bRect.top ) * ( theCanvas.height / bRect.height ) ;

    /*
    Below, we find if a shape was clicked. Since a "hit" on a square or a circle has to be measured differently, the
    hit test is done using the hitTest() function associated to the type of particle. This function is an instance method
    for both the SimpleDiskParticle and SimpleSqureParticle classes we have defined with the external JavaScript sources.
    */
    for ( i = 0 ; i < numShapes ; i ++ ) {
    if ( shapes[ i ].hitTest ( mouseX, mouseY ) ) {
    dragging = true ;
    //the following variable will be reset if this loop repeats with another successful hit:
    dragIndex = i ;
    }
    }

    if ( dragging ) {
    window.addEventListener ( "mousemove", mouseMoveListener, false ) ;

    //place currently dragged shape on top
    shapes.push ( shapes.splice ( dragIndex, 1 )[ 0 ] ) ;

    //shapeto drag is now last one in array
    dragHoldX = mouseX - shapes[ numShapes - 1 ].x ;
    dragHoldY = mouseY - shapes[ numShapes - 1 ].y ;

    //The "target" position is where the object should be if it were to move there instantaneously. But we will
    //set up the code so that this target position is approached gradually, producing a smooth motion.
    targetX = mouseX - dragHoldX ;
    targetY = mouseY - dragHoldY ;

    //start timer
    timer = setInterval ( onTimerTick, 1000 / 30 ) ;
    }
    theCanvas.removeEventListener ( "mousedown", mouseDownListener, false ) ;
    window.addEventListener ( "mouseup", mouseUpListener, false ) ;

    //code below prevents the mouse down from having an effect on the main browser window:
    if ( evt.preventDefault ) {
    evt.preventDefault ( ) ;
    } //standard
    else if ( evt.returnValue ) {
    evt.returnValue = false ;
    } //older IE
    return false ;
    }

    function onTimerTick ( ) {
    //because of reordering, the dragging shape is the last one in the array.
    shapes[ numShapes - 1 ].x = shapes[ numShapes - 1 ].x + easeAmount * ( targetX - shapes[ numShapes - 1 ].x ) ;
    shapes[ numShapes - 1 ].y = shapes[ numShapes - 1 ].y + easeAmount * ( targetY - shapes[ numShapes - 1 ].y ) ;

    //stop the timer when the target position is reached (close enough)
    if ( ( ! dragging ) && ( Math.abs ( shapes[ numShapes - 1 ].x - targetX ) < 0.1 ) && ( Math.abs ( shapes[ numShapes - 1 ].y - targetY ) < 0.1 ) ) {
    shapes[ numShapes - 1 ].x = targetX ;
    shapes[ numShapes - 1 ].y = targetY ;
    //stop timer:
    clearInterval ( timer ) ;
    }
    drawScreen ( ) ;
    }

    function mouseUpListener ( evt ) {
    theCanvas.addEventListener ( "mousedown", mouseDownListener, false ) ;
    window.removeEventListener ( "mouseup", mouseUpListener, false ) ;
    if ( dragging ) {
    dragging = false ;
    window.removeEventListener ( "mousemove", mouseMoveListener, false ) ;
    }
    }

    function mouseMoveListener ( evt ) {
    var posX ;
    var posY ;
    var shapeRad = shapes[ numShapes - 1 ].radius ;
    var minX = shapeRad ;
    var maxX = theCanvas.width - shapeRad ;
    var minY = shapeRad ;
    var maxY = theCanvas.height - shapeRad ;

    //getting mouse position correctly
    var bRect = theCanvas.getBoundingClientRect ( ) ;
    mouseX = ( evt.clientX - bRect.left ) * ( theCanvas.width / bRect.width ) ;
    mouseY = ( evt.clientY - bRect.top ) * ( theCanvas.height / bRect.height ) ;

    //clamp x and y positions to prevent object from dragging outside of canvas
    posX = mouseX - dragHoldX ;
    posX = ( posX < minX ) ? minX : ( ( posX > maxX ) ? maxX : posX ) ;
    posY = mouseY - dragHoldY ;
    posY = ( posY < minY ) ? minY : ( ( posY > maxY ) ? maxY : posY ) ;

    targetX = posX ;
    targetY = posY ;
    }

    function drawShapes ( ) {
    var i ;
    for ( i = 0 ; i < numShapes ; i ++ ) {
    //the drawing of the shape is handled by a function inside the external class.
    //we must pass as an argument the context to which we are drawing the shape.
    shapes[ i ].drawToContext ( context ) ;
    }
    }

    function drawScreen ( ) {
    //bg
    context.fillStyle = "#FFFFFF" ;
    context.fillRect ( 0, 0, theCanvas.width, theCanvas.height ) ;

    drawShapes ( ) ;
    }

    }

    </script>

}
